@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
  --primary-color: #b91c1c;
  --secondary-color: blue;


  --text-color: #1f2937;
    --text-dark-color: #f3f4f6;
    --color-primary-dark: #012300;
    --color-primary-bg: #b4e8b3;
    --color-secondary: #7868e6;
    --color-secondary-dark: #0c0a17;
    --color-secondary-bg: #d7d2fc;
    --color-danger: #b91c1c;
    --color-danger-bg: #fee2e2;
    --color-success: #0b6631;
    --color-success-bg: #d1fae5;
    --color-warning: #ff6f00;

    --color-info:#A65272;
    --color-light:#EEE9E9;
    --color-dark:#000;
    --color-warning-bg: #fef3c7;
    --color-grey-darkest: #1f2937;
    --color-grey-dark: #4b5563;
    --color-grey: #9ca3af;
    --color-grey-light: #f3f4f6;
    --color-grey-bg: #e5e7eb;
    --color-facebook: #4267b2;
    --color-twitter: #1da1f2;
    --color-google: #db4437;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  color: var(--color-grey-darkest);
  overflow-x: hidden;
  letter-spacing: 1px;
}

.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "header header"
    "main main";
  grid-template-rows: 60px 2fr;
  grid-template-columns: 270px 4.5fr;
  /* border: 1px solid black; */
}

.header {
  grid-area: header;
  display: flex;
  position: fixed;
  background-color: var(--primary-color);
  width: 100%;
  z-index: 10;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.navbar a {
  color: whitesmoke;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.main {
  grid-area: main;
  width: 56.25rem;
  padding: 4rem;
}

/* Avatars */

#one {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border: 1px solid var(--color-grey);
  padding: 2rem;
}

.one {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
}
.avatar {
  border-radius: 50%;
  border: none;
  overflow: hidden;
  justify-content: space-between;
}

.sm {
  width: 50px;
  height: 50px;
}

.md {
  width: 70px;
  height: 70px;
}
.lg {
  width: 90px;
  height: 90px;
  background-size: cover;
}

/* alerts */

#two {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border: 1px solid grey;
  padding: 2rem;
}
.alert {
  border: 1px solid blue;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  width: 50%;
}

.alert-primary {
  color: var(--color-secondary);
  background-color: #cfe2ff;
  border-color: #b6d4fe;
}

.alert-secondary {
  color: #000;
  background-color: gray;
  border-color: #a2a6ac;
}
.alert-success {
  color: var(--color-success);
  background-color: #d3ffcf;
  border-color: #97e997;
}
.alert-danger {
  color:var(--color-danger);
  background-color: #E2AEAE;
  border-color: #eeb6a0f3;
}
.alert-warning {
  color: var(--color-warning);
  background-color: #f1e363;
  border-color: #e6da37;
}

/* badge */

#three {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border: 1px solid grey;
  padding: 2rem;
}
.three {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}
.notification {
  position: relative;
  display: inline-block;
}

.notification .badge {
  position: absolute;
  top: -15px;
  right: -15px;
  padding: 0.3rem;
  justify-content: center;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: var(--color-info);
  color: white;
  font-size: 0.7rem;
  text-align: center;
}

.badge {
  display: flex;
  position: relative;
}

.badge .online-image .avtar {
  width: 70px;
  height: 70px;
}

.badge .offline-image .avtar {
  width: 70px;
  height: 70px;
}

.online-profile {
  position: absolute;
  background-color: var(--color-success);
  border: 2px solid white;
  border-radius: 50%;
  top: 50px;
  left: 43px;
  height: 20px;
  width: 20px;
}

.offline-profile {
  position: absolute;
  background-color: var(--color-grey-dark);
  border: 2px solid white;
  border-radius: 50%;
  top: 50px;
  left: 43px;
  height: 20px;
  width: 20px;
}

/* buttons */

#four {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border: 1px solid grey;
  padding: 2rem;
}

.four {
  margin: 2rem;
}
.btn {
  padding: 0.6rem;
  color: white;
  width: fit-content;
  border: none;
  margin: 1rem;
  outline: none;
  border-radius: 5px;
  font-weight: 5px;
}

.btn-primary {
  background-color: var(--secondary-color);
}
.btn-secondary {
  background-color: var(--color-grey);
}
.btn-success {
  background-color: var(--color-success);
}
.btn-danger {
  background-color:var(--color-danger);
}
.btn-warning {
  background-color: var(--color-warning);
}
.btn-info {
  background-color:var(--color-info);
}
.btn-light {
  background-color: var(--color-light);
  color: black;
}
.btn-dark {
  background-color: var(--color-dark);
}

.btn-float {
  background-color: var(--secondary-color);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 50px;
  color: white;
  text-align: center;
  justify-content: center;
  line-height: 50px;

  position: fixed;
  right: 40px;
  bottom: 40px;
}

.btn-float:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.2);
}

/* card */

#five {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border: 1px solid var(--color-grey);
  padding: 2rem;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 225px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 #FAF2F2;
  transition: box-shadow 0.2s ease-in-out;
  padding-bottom: 0.3rem;
}
.card-body {
  padding-left: 0.5rem;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card .card-img-top {
  width: 100%;
  height: 250px;
  background-size: cover;
}

.btn-card {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: rgb(223, 75, 70);
  color: white;
  outline: none;
  border-radius: 5px;
  border: none;
}
.product-name small {
  font-size: 0.7rem;
}
.wishlist-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.wishlist-icon:hover i {
  color: rgb(223, 75, 70);
}

.original-price {
  text-decoration: line-through;
  color: var(--color-grey);
}

/* rxetcyvubinjmok */
#six {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border: 1px solid grey;
  padding: 2rem;
}

#six .ractangular img {
  max-width: 50%;
  height: auto;
}

#six .circular img {
  width: 200px;
  margin-top: 1rem;
  border-radius: 50%;
  height: 200px;
  background-size: cover;
}

/* Lists */

#seven {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
  border: 1px solid grey;
  padding: 2rem;
}

.seven {
  margin-bottom: 1rem;
}

.list-group {
  width: 50%;
}

.list-item {
  border: 1px solid grey;
  list-style: none;
  padding: 0.7rem;
}

#seven .active-list-item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 0.7rem;
  border: 1px solid gray;
  width: 70%;
}

.active-list-item:hover {
  background-color: lightgrey;
}

/* navbar */
#eight {
  margin-bottom: 1rem;

  border: 1px solid grey;
  padding: 2rem;
}
.container {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.075);
  padding: 1rem;
  border-radius: 5px;
}

.container > li {
  /* flex: 1; */
  flex-grow: 2;
  list-style: none;
}
.search .search-input {
  outline: none;
  padding: 0.3rem;
}
.container:hover {
  background-color: var(--primary-color);
}

/* grid items */
#nine {
  margin-bottom: 1rem;

  border: 1px solid grey;
  padding: 2rem;
}
.nine {
  margin-bottom: 1rem;
}
.grid-two-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.grid-item {
  padding: 0.5rem;
  border: 1px solid var(--color-secondary-dark);
  background-color: var(--color-grey-light);
}
.grid-three-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1r;
  grid-template-rows: 1fr;
  margin-top: 1rem;
  grid-gap: 1rem;
}

/* imput form */
#ten {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  padding: 2rem;
  margin-bottom: 1rem;
}
.ten {
  margin-bottom: 1rem;
}
.input-form {
  padding: 0.5rem;
  border: 1px solid black;
}
.input-form > input {
  margin: 0.5rem;
}

/* modal */
#eleven {
  border: 1px solid grey;
  padding: 2rem;
  margin-bottom: 1rem;
}
.eleven {
  margin-bottom: 1rem;
}
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#eleven #myBtn {
  padding: 1rem 1.2rem;
  font-size: 20px;
  background-color: var(--color-twitter);
  border-radius: 5px;
  outline: none;
  border: none;
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* ratings */
#twelve {
  border: 1px solid var(--color-grey);
  padding: 2rem;
  margin-bottom: 1rem;
}
.colored {
  color: orange;
}

.focused:hover {
  color: orange;
}

/* text utilities */

#thirteen {
  margin-bottom: 1rem;

  border: 1px solid grey;
  padding: 2rem;
}
.headings {
  border: 1px solid black;
  padding-left: 1rem;
}

.smallHeading small {
  color: gray;
}

/* toast */
#fourteen {
  border: 1px solid grey;
  padding: 2rem;
  margin-bottom: 1rem;
}

.fourteen {
  margin-bottom: 1rem;
}
.btn-toast {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  background-color: var(--color-success);
  border-radius: 4px;
  color: white;
}
.toastBody {
  display: none;
  padding: 1rem;
  width: max-content;
  margin-top: 0.5rem;
  background-color: var(--color-info);
  color: white;
  border-radius: 4px;
}

.closeBtn {
  font-size: 1.3rem;
  padding: 0.2rem;
  color: black;
  cursor: pointer;
}

/* // sidebar// */

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: sticky; /* Stay in place */
  z-index: 1; /*Stay on top */
  top: 50px;
  left: 0;
  background-color: var(--color-secondary-dark); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  background-color: inherit;
  outline: none;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s; /* If you want a transition effect */
  padding: 20px;
}

@media only screen and (min-width: 768px) {
  .sidebar {
    width: 250px;
    position: fixed;
  }
  .main {
    margin-left: 20%;
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
    visibility: hidden;
  }
}

footer  {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
